
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<br />
<div class="text-center">
    <p>Please feel free to contact us at 1-800-Arto-Insurance for your free quote today!</p>
    <br />
    <h6>"You may also email us at artoinsurance@arto.com"</h6>
</div>

