@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Arto Insurance</h1>
    <p class="lead">We are here to help you find the best car insurance in the US!</p>
    <br />
    <p>Please feel free to click the Sign up button and fill in your information for a free quote!</p>
    <p><a href="~/Insuree/Create/" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
</div>
